* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

html {
  min-height: 100%;
}
/* Reset end */

:root {
  --offblack: rgb(26, 34, 27);
  --green: rgb(98, 182, 98);
  --filter-bar-background: rgb(240, 240, 240);
  --svg-lightgrey: invert(99%) sepia(1%) saturate(2972%) hue-rotate(189deg) brightness(110%) contrast(65%);
}

/* Make sure footer is always at the bottom */
body,
#root,
main {
  min-height: 95vh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--offblack);
}

header {
  z-index: 3;
  top: 0;
  position: sticky;
  width: 100%;
  height: 80px;
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header > #shop-name {
  flex-shrink: 0;
  margin-left: 10px;
  background-image: url("./Assets/icons/logo.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

header > nav {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0 50px;
}

header > nav > * {

  font-size: 28px;
}

.searchbar-container {
  position: relative;
  padding: 0;
}

.searchbar-container > button.clear,
.searchbar-container > div.separator,
.searchbar-container > button[type="submit"] {
  position: absolute;
  color: lightgrey;
  z-index: 10;
}

input.searchbar {
  font-size: 18px;
  padding: 4px;
  padding-left: 6px;
  padding-right: 75px;
}

.searchbar-container > button.clear {
  top: 3px;
  right: 50px;
  font-size: 31px;
  background: none;
  border: none;
}

.searchbar-container > div.separator {
  top: 7px;
  right: 37px;
  font-size: 21px;
}

.searchbar-container > button[type="submit"] {
  top: 8px;
  right: 7px;
  height: 23px;
  width: 23px;
  background: none;
  background-image: url("./Assets/icons/magnifying-glass.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: var(--svg-lightgrey);
  border: none;
  padding: 4px;
  cursor: pointer;
}

/* Search Preview */
.searchbar-container > .preview {
  position: absolute;
  background-color: white;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.searchbar-container .item-container-preview {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 45px 1fr 40px;
  gap: 4px;
  align-items: center;
  height: 32px;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 4px 0px;
}

.item-container-preview:hover {
  box-shadow: lightgrey 0px 0px 4px 2px;
}

.searchbar-container .item-container-preview > img {
  justify-self: end;
  height: 30px;
  max-width: 45px;
  object-fit: cover;
}

.searchbar-container .item-container-preview > .name {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchbar-container .item-container-preview > .price {
  justify-self: end;
  padding-right: 5px;
  font-size: 14px;
}

footer {
  height: 50px;
  line-height: 50px;
  background-color: rgb(27, 26, 26);
  color: white;
  font-size: 20px;
  text-align: center;
}

.cart-link {
  display: flex;
}

/* Cart */
.cart-link > .icon {
  background-image: url("./Assets/icons/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.cart-link > .size {
  font-weight: bold;
  position: relative;
  top: 15px;
  right: 5px;
}

.cart-container {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color:rgba(138, 138, 138, 0.5);
}

.cart {
  position: sticky;
  top: 0;
  flex: 0 1 650px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: white;
}

.cart > .top-part {
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart > .top-part > .description {
  font-size: 40px;
  margin-left: 10px;
}

.cart > .top-part > .cart-close {
  height: 50px;
  width: 50px;
  margin-left: auto;
  font-size: 48px;
  background-image: url("./Assets/icons/close-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart > .middle-part {
  flex: 0 1 auto;
  overflow-y: scroll;
  scrollbar-width: 0px;
}

.middle-part::-webkit-scrollbar {
  display: none;
}

.middle-part {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.item-container-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100px;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.item-container-cart > img {
  width: 100px;
}

.item-container-cart .name {
  font-size: 20px;
}

.item-container-cart > .right-part {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-container-cart > .quantity-container {
  display: flex;
  height: min-content;
}

.item-container-cart button.remove {
  color: white;
  border: none;
  padding: 4px;
  font-size: 14px;
  background-color: orangered;
}

.cart .checkout-container {
  width: min-content;
  margin-left: auto;
  padding-right: 50px;
}

.checkout-container .total {
  font-size: 24px;
  white-space: nowrap;
  padding-bottom: 4px;
}

.cart button.checkout {
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  background-color: var(--green);
  margin-left: auto;
  display: block;
}

.cart button.checkout:hover::before {
  position: absolute;
  content: "!cosmetic button!";
  color: black;
  background-color: yellow;
}

.cart > .empty-message {
  margin: 50px auto;
  width: min-content;
  white-space: nowrap;
}

.cart > .empty-message > .msg {
  font-size: 100px;
  color: rgb(211, 211, 211);
}

.magnifying-glass {
  position: relative;
  top: 20px;
  left: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url("./Assets/icons/magnifying-glass.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: var(--svg-lightgrey);
}

.home-page {
  display: grid;
  place-items: center;
  height: calc(100% + 50px);
  width: 100%;
  background-image: url("./Assets/images/home-background.jpg");
  background-size: cover;
}

.home-page > .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: max(550px, 70%);
  height: 60%;
  background:rgba(235, 235, 235, 0.8)
}

.hero-section > p.greeting-message {
  font-size: 24px;
}

.hero-section > .shop-button {
  font-size: 48px;
  background-color: var(--green);
  padding: 12px;
}

.shop {
  display: flex;
}

.shop > .filter-bar {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  background-color: var(--filter-bar-background);
  width: 250px;
}

.filter-bar button.apply-filters {
  position: absolute;
  left: 245px;
  cursor: pointer;
  color: white;
  background-color: var(--green);
  padding: 4px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.filter-bar button.apply-filters::before {
  z-index: -1;
  position: absolute;
  top: 4px;
  right: 42px;
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--green);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
  border-radius: 50%;
}

.filter-settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
}

.filter-settings > * {
  margin: 2px 0;
}

.filter-settings label {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
  padding-right: 125px;
  user-select: none;
}

.filter-settings input[type="checkbox"] {
  accent-color: green;
  height: 15px;
  width: 15px;
}

.filter-settings > .separator-line {
  height: 1.5px;
  background-color: lightgrey;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.slider-container > .filter-criteria {
  position: absolute;
  top: -5px;
  width: 100%;
  text-align: center;
}

.slider-container > .filter-criteria.price {
  font-size: 20px;
}

.slider-container > input {
  width: 50px;
}

.slider {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 0px 20px;
  flex-grow: 1;
}

.slider > .track {
  background-color: rgb(11, 92, 0);
  height: 5px;
  border-radius: 4px;
}

.slider > .thumb {
  outline: none;
  height: 14px;
  width: 14px;
  border: 2px solid var(--filter-bar-background);
  border-radius: 50%;
  background-color: rgb(11, 92, 0);
}

.shop > .item-display {
  flex-grow: 1;
}

.shop > .item-display > .page-links {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 20px;
  margin-bottom: 15px;
}

.shop > .item-display > .page-links > a {
  text-decoration: underline;
}

.shop > .item-display .items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  row-gap: 70px;
  place-items: center;
  padding: 50px 20px;
}

.items > .current-search {
  position: absolute;
  top: 10px;
  left: 100px;
  background-color: lightgrey;
  padding: 5px;
  border-radius: 8px;
}

.items > .current-search > button {
  height: 18px;
  width: 18px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  margin-left: 4px;
}

.items > .empty-message {
  position: relative;
  top: 100px;
  font-size: 100px;
  color: lightgrey;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 300px;
  height: 380px;
}

.item-container:hover {
  box-shadow: lightgrey 2px 2px 10px 2px;
}

.item-container > img {
  height: min-content;
  width: 90%;
  object-fit: contain;
}

.item-container > .item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.item-container > .item-info > .name {
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.item-container > .item-info > .price {
  font-size: 20px;
}

.item-container .button-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-container input {
  height: 24px;
  width: 30px;
  text-align: center;
  font-size: 18px;
}

.quantity-container button {
  font-size: 18px;
  height: 24px;
  width: 24px;
}

.item-container button.add-in-catalog {
  color: white;
  border: none;
  padding: 4px;
  font-size: 14px;
  background-color: var(--green);
}

.item-container button.add-in-catalog:active {
  transform: scale(0.95);
}

/* Item Page */
.item-page {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
}

.item-page > .image {
  justify-self: flex-end;
  min-width: 0;
  flex: 1 1 500px;
  object-fit: contain;
}

.item-page > .info {
  justify-self: flex-start;
  flex: 1 0 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.item-page > .info > .name {
  font-size: 32px;

}

.item-page > .info > .price {
  font-size: 24px;
}

.item-page table,
.item-page td {
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: 24px;
  padding: 4px;
  width: 300px;
}

.item-page button.add-in-itempage {
  color: white;
  border: none;
  padding: 4px;
  font-size: 14px;
  background-color: var(--green);
}

.item-page button.add-in-itempage:active {
  transform: scale(0.95);
}

.item-page .button-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item-page .description {
  font-style: italic;
}