* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

html {
  min-height: 100%;
}
/* Reset end */

:root {
  --offblack: rgb(26, 34, 27);
  --header-height: 80px;
  --green: rgb(98, 182, 98);
}

/* Make sure footer is always at the bottom */
body,
#root,
main {
  min-height: 95vh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--offblack);
}

main {
  margin-top: var(--header-height);
}

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer {
  height: 50px;
  background-color: rgb(27, 26, 26);
  color: white;
}

header > #shop-name {
  margin-left: 10px;
  background-image: url("./Assets/icons/logo.svg");
  height: 50px;
  width: 50px;
}

header > nav {
  display: flex;
  align-items: center;
  margin: 0 50px;
}

header > nav > * {
  padding: 20px;
  font-size: 28px;
}

.cart-link {
  display: flex;
}

.cart-link > .icon {
  background-image: url("./Assets/icons/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.cart-link > .size {
  font-weight: bold;
  position: relative;
  top: 15px;
  right: 5px;
}

.cart-container {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color:rgba(138, 138, 138, 0.5);
}

.cart {
  position: sticky;
  top: 0;
  left: 100px;
  flex: 0 1 600px;
  height: 100vh;
  padding-right: 20px;
  overflow-y: scroll;
  scrollbar-width: 0px;
  background-color: white;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cart-close {
  height: 50px;
  width: 50px;
  font-size: 48px;
  background-image: url("./Assets/icons/close-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.home-page {
  display: grid;
  place-items: center;
  height: calc(100% + 50px);
  width: 100%;
  background-image: url("./Assets/images/home-background.jpg");
  background-size: cover;
}

.home-page > .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 70%;
  height: 60%;
  background:rgba(235, 235, 235, 0.8)
}

.hero-section > p.greeting-message {
  font-size: 24px;
}

.home-page .shop-button {
  font-size: 48px;
  background-color: var(--green);
  padding: 8px;
}

.shop {
  display: flex;
}

.shop > .filter-bar {
  background-color: rgb(240, 240, 240);
  width: 250px;
}

.filter-bar > .wood-filter {
  display: flex;
  flex-direction: column;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.slider-container > .filter-criteria {
  position: absolute;
  top: -10px;
  left: 100px;
}

.slider-container > input {
  width: 50px;
}

.slider {
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 3px;
  padding: 0px 20px;
  flex-grow: 1;
}

.slider > .track {
  background-color: lightgrey;
  height: 15px;
  border-radius: 10px;
}

.slider > .thumb {
  outline: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(61, 59, 59);
}

.items {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.item-container {
  display: grid;
  place-items: center;
  width: 300px;
  height: 400px;
}

.item-container > img {
  height: 70%;
  width: 90%;
  object-fit: contain;
}

.item-container > button.add-in-catalog {
  z-index: 10;
}

.item-container-cart {
  display: flex;
  height: 200px;
}

.item-container-cart > img {
  height: 100%;
}

.item-container-cart > .quantity-container {
  display: flex;
  height: min-content;
}

/* Item Page */

.item-page {
  display: flex;
  gap: 50px;
  padding: 50px;
}

.item-page > .image {
  min-width: 0;
  flex: 0 1 500px;
  object-fit: contain;
}

.item-page > .info {
  flex: 1 0 500px;
  margin: 0 auto;
}

.item-page table,
.item-page td {
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: 24px;
  padding: 4px;
}