* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  color: black;
}
/* Reset end */

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(98, 182, 98);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header > #shop-name {
  font-size: 48px;
}

header > nav {
  display: flex;
  align-items: center;
  margin: 0 50px;
}

header > nav > * {
  padding: 20px;
  font-size: 28px;
}

.cart-link {
  background-image: url("./Assets/icons/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  margin-top: 80px;
  flex-grow: 1;
}

footer {
  background-color: rgb(27, 26, 26);
  color: white;
}

.shop {
  display: flex;
}

.shop > .filter-bar {
  background-color: rgb(240, 240, 240);
  width: 250px;
}

.filter-bar > .wood-filter {
  display: flex;
  flex-direction: column;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.slider-container > .filter-criteria {
  position: absolute;
  top: -10px;
  left: 100px;
}

.slider-container > input {
  width: 50px;
}

.slider {
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 3px;
  padding: 0px 20px;
  flex-grow: 1;
}

.slider > .track {
  background-color: lightgrey;
  height: 15px;
  border-radius: 10px;
}

.slider > .thumb {
  outline: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(61, 59, 59);
}

.items {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.item-container {
  display: grid;
  place-items: center;
  width: 300px;
  height: 400px;
}

.item-container:hover {
  background-color: rgb(236, 236, 236);
}

.item-container > img {
  height: 70%;
  width: 90%;
  object-fit: contain;
}

.item-container-cart {
  display: flex;
  height: 200px;
}

.item-container-cart > img {
  height: 100%;
}

.item-container-cart > .quantity-container {
  display: flex;
  height: min-content;
}